<%- partial('_partial/head') %>
<body>
  <div id="wrap">
    <%- partial('_partial/header') %>
    <div class="outer">
      <section id="main"><%- body %></section>
      <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
        <%- partial('_partial/sidebar') %>
      <% } %>
    </div>
    <%- partial('_partial/footer') %>
  </div>
</body>
</html>